<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE="/>
        <env name="APP_DEBUG" value="false"/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="OTP_HASH_PEPPER" value="testing-otp-hash-pepper-not-for-deployment"/>
        <env name="OTP_LOOKUP_HMAC_KEY" value="testing-otp-lookup-hmac-key-not-for-deployment"/>
        <env name="OTP_DELIVERY_PROVIDER" value="fake"/>
        <env name="OTP_FAKE_DELIVERY_OUTCOME" value="accepted"/>
        <env name="OTP_RATE_LIMIT_MOBILE_15_MINUTES" value="3"/>
        <env name="OTP_RATE_LIMIT_MOBILE_HOUR" value="5"/>
        <env name="OTP_RATE_LIMIT_MOBILE_DAY" value="10"/>
        <env name="OTP_RATE_LIMIT_IP_15_MINUTES" value="10"/>
        <env name="OTP_RATE_LIMIT_IP_HOUR" value="30"/>
        <env name="OTP_RATE_LIMIT_INSTALLATION_15_MINUTES" value="10"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_PREFIX" value="turf_booking:testing:cache:"/>
        <env name="CORS_ALLOWED_ORIGINS" value="http://spa.test,http://other.test"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="RATE_LIMITER_STORE" value="array"/>
        <env name="SCHEDULE_LOCK_STORE" value="array"/>
        <env name="TRUSTED_PROXIES" value="10.0.0.10"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="LOG_CHANNEL" value="null"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="QUEUE_FAILED_DRIVER" value="null"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
